%h3 Users
%table.table.table-hover
  %thead
    %tr
      %th #
      %th{colspan: 2} Nickname
      %th Last online
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.nickname
        %td
          - unless @friends.include? user
            = link_to "Become a friend", friendships_path(id: user.id, return_url: users_path), method: "post", class: "btn btn-success"
          - else
            %button.btn.btn-danger Not a friend
        %td= user.last_online_at